// $_min_width: 320px
// $_max_width: 1440px

// $_container_width: 1270  // 1240 + 15*2

$_media_desktop: 1240
$_media_992: 991.98
$_media_768: 767.98 // меньше 768 - уже мобильный вариант
$_media_480: 479.98
$_media_320: 319.98

// шрифты
$_fontFamily_def: Arial, Helvetica, sans-serif
$_fontSize_def: 16px

// colors
$color_blue: #00f
$color_red: #f00

body
	font-family: $_fontFamily_def
	font-size: $_fontSize_def
	line-height: 1

._container  // технический класс, не участвует в БЭМ
	max-width: 1270px // 1240 + 15*2
	margin: 0 auto
	padding: 0 15px

	@media screen and ( max-width: 1240px )
		max-width: 970px

	@media screen and ( max-width: 992px )
		max-width: 750px

	@media screen and ( max-width: 768px )
		max-width: none
		padding: 0 10px
