@import common
@import fonts
@import iconsfont
    


.header
    // .header__title
    &__title
        font-family: $_font_gilroy-regular
        color: $_color_blue


    
    
.menu
    // .menu__icon
    &__icon
        display: none

